

@media (min-width: 576px) {
  .jumbotron {
    padding: 0 0 2rem 0;
  }
}

@media (min-width: 576px) {
  .form-inline .form-control {
    width: 25rem;
  }
}
.btn-outline-light {
  color: #ffffff;
  border-color: #dbd6d6; 
}

.btn-outline-light:hover {
  background-color: #ececec; 
  color: #000; 
}




.card-body{
  padding: 0.25rem
}

.card-basket{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    padding: 0;
}

.card-price{
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  padding-top: 40px;
}

#filterSection .btn {
  min-width: 150px;
  font-size: 1rem;
}
