.jumbotron {
  background-color: rgb(195, 189, 181);
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 0 0 2rem 0;
  }
}

@media (min-width: 576px) {
  .form-inline .form-control {
    width: 25rem;
  }
}


.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(195, 189, 181);
  color: rgb(96, 36, 36);
  text-align: center;
}


.card-body{
  padding: 0.25rem
}

.card-basket{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    padding: 0;
}

.card-price{
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  padding-top: 40px;
.footer-para{
  margin: 0;
}