.jumbotron {
  background-color: rgb(195, 189, 181);
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 0 0 2rem 0;
  }
}

@media (min-width: 576px) {
  .form-inline .form-control {
    width: 25rem;
  }
}


.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(195, 189, 181);
  color: rgb(96, 36, 36);
  text-align: center;
}


.card-body{
  padding: 0.25rem
}