{% extends 'base.html' %}

{% block main %}
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-5">
          <img src="{{ url_for('static', filename='img/' + product.image) }}" alt="product.image" class="img-fluid shadow-lg m-5 bg-white rounded" />
        </div>
        <div class="card col-md-5 shadow-lg m-5 bg-white rounded">
          <h1>{{product.name}}</h1>
          <p>
            Info: {{product.description}}
          </p>
          <h4>Prize: ${{product.price}}</h4>
          <ul>
            <li>CPU: {{product.CPU}}</li>
            <li>GPU: {{product.GPU}}</li>
            <li>Camera: {{product.camera}}</li>
            <li>Battery: {{product.battery}}</li>
            <li>Release date: {{product.productReleaseDate}}</li>
          </ul>
          <form action="{{ url_for('main.add_to_basket', product_id=product.product_id) }}" method="POST">
                  <button class="btn btn-outline-success mt-2">Add to Basket</button>
                </form>
        </div>
      </div>
    </div>

{% endblock %}

