<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">The Universal electronic Store</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="item.html">Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Basket</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="jumbotron text-center">
    <h1 class="display-4">Australia's largest electronic store</h1>
    <p class="lead">Quality prouducts in affordable price</p>
    <hr class="my-4" />
      <div class=" custom-container d-flex justify-content-center">
    <form class="form-inline justify-content-center">
      <input class="form-control mr-sm-2" type="search" />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <div class="dropdown ml-4">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
        Category
      </a>
    
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Mobiles</a>
        <a class="dropdown-item" href="#">Laptops</a>
        <a class="dropdown-item" href="#">Headphones</a>
      </div>
    </div>
  </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-5 d-flex">
        <div class="card shadow-lg m-5 bg-white rounded">
          <img class="card-img-top" src="/SAElectronis/static/img/iphone18.jpg" alt="iphone18" />
          <div class="card-body">
            <h5 class="card-title">Iphone 18</h5>
            <p class="card-text">
              With all new apple 20 bionic chipset and 100MP camera
            </p>
            <a href="item.html" class="btn btn-primary">View Details</a>
            <button class="btn btn-success">Add to Basket</button>
          </div>
        </div>
        <!-- <div class="card m-4">
          <img class="card-img-top" src="img/samsungs27.webp" alt="iphone18" />
          <div class="card-body">
            <h5 class="card-title">samsung</h5>
            <p class="card-text">
              wolrd class snapdragon 940 chipsent And adreno GPU
            </p>
            <a href="item.html" class="btn btn-primary">View Details</a>
          </div>
        </div> -->
      </div>
    </div>
  </div>