{% extends 'base.html' %}

  {% block main %}
   
    <div class="row">
      <div class="col-md-5 d-flex">
        <div class="card shadow-lg m-5 bg-white rounded">
          <img class="card-img-top" src="img/iphone18.jpg" alt="iphone18" />
          <div class="card-body">
            <h5 class="card-title">iphone18</h5>
            <p class="card-text">
              jhnkfjs djank cn amdnc m 
            </p>
            <a href="{{ url_for('main.item') }}" class="btn btn-primary">View Details</a>
            <button class="btn btn-success">Add to Basket</button>
          </div>
        </div>
        <!-- <div class="card m-4">
          <img class="card-img-top" src="img/samsungs27.webp" alt="iphone18" />
          <div class="card-body">
            <h5 class="card-title">samsung</h5>
            <p class="card-text">
              wolrd class snapdragon 940 chipsent And adreno GPU
            </p>
            <a href="item.html" class="btn btn-primary">View Details</a>
          </div>
        </div> -->
      </div>
    </div>  
   
  {% endblock %}
